NEXT_PUBLIC_BASE_URL=http://localhost:5016/api/v1

# NextAuth OAuth
NEXT_PUBLIC_Google_ID=
NEXT_PUBLIC_GOOGLE_SECRET=
NEXT_PUBLIC_FACEBOOK_ID=
NEXT_PUBLIC_FACEBOOK_SECRET=
NEXT_PUBLIC_APPLE_ID=
NEXT_PUBLIC_APPLE_SECRET=
NEXT_PUBLIC_NEXT_AUTH_SECRET=secret

# Google Translate API
NEXT_PUBLIC_GOOGLE_TRANSLATE_API_KEY=
